    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        font-family: 'Roboto', sans-serif;

    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .btn1 {
        margin-top: 40px;
        display: inline-block;
        padding: 15px 60px;
        font-size: 1.1rem;
        text-transform: uppercase;
        background: #135cbb;
        color: #eee;
        border-radius: 7px;
        transition: 1s;
    }

    .btn1:hover {
        cursor: pointer;
        background: transparent;
        border: 1px solid #FFCA09;
        border-radius: 50px;
    }

    .headline {
        font-size: 2.1rem;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        padding-bottom: 50px;
        letter-spacing: 2px;
    }

    .logo2{
     color: black;
     font-weight: bold;
    }

    /* Navbar */
    
    #fax{
        color: #fccb19;
    }

    
    .nav-bar {
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1.2rem 6rem;
        background-color: #135cbb;
        z-index: 1;
        color: white;
    }
    
    
    .logo {
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    
    .logo h1 {
        color: white
    }
    
    .nav-list {
        display: flex;
        align-items: center;
    }
    
    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }
    
    .nav-item {
        margin: 0 15px;
    }

    .nav-link{
        color: black;
    }
    
    .nav-link {
        text-decoration: none;
        font-size: 1.15rem;
        color: #fff;
        font-weight: 400;
    }

    .nav-link:hover{
        color: #FFCA09;
    }
    
    .login-button button {
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        background-color: #0187a7;
    }
    
    .login-button button a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    .mobile-menu-icon {
        display: none;
    }
    
    .mobile-menu {
        display: none;
    }
    
    /* Showcase */
    #showcase {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #eee;
        background: url('../img/banheiro.jpg') no-repeat center center/cover;

        /* Overlay */
        background-color: rgba(0,0,0,0.5);
        background-blend-mode: color;
    }

    #showcase-container {
        text-align: center;
    }

    #showcase-container h2 {
        font-size: 2.5rem;
    }

    #showcase-container p {
        font-size: 1.2rem;
        padding: 7px 0;
    }

    /* Clients */
    #clients {
        width: 100%;
        background: transparent;
        color: white;
        padding: 50px;
    }

     #clients-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    } 

    #clients-container img {
        width: 60px;
    }

    .client {
        display: inline-block;
        width: 25%;
    }

    /* About */
    #features {
        width: 100%;
        background: transparent;
        color: #eee;
        padding: 50px;
    }

    #features-container {
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
    }

    .feature {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 20px;
        color: black;
        border-radius: 5px;
        border: solid 1px black;
    }

    .feature-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    /* Product */
    #product {
        width: 100%;
        padding: 50px;
        background-color: rgb(239, 235, 226);
    }

    #product-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #items {
        width: 650px;
    }

    #items .item {
        display: flex;
        padding: 10px;
        margin: 15px 0;
        font-size: 1.2rem;
    }

    /* Testimonials */
    .testimonial {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        background: #333;
        padding: 15px;
        margin: 15px 0;
        border-radius: 5px;
    }

    #testimonials {
        width: 100%;
        background: #222;
        color: #eee;
        padding: 50px;
    }

    #testimonials-container {
        width: 80%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .testimonial .testimonial-image {
        height: 200px;
        width: auto;
        border-radius: 50%;
        margin: 15px;
    }

    /* Gallery */
    #gallery {
        background-size: cover;
        width: 100%;
        margin: auto;
        padding: 50px;
        background: url("../img/fundo.png");
        color: white;
    
    }

    #gallery-container {
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        justify-items: center;
        z-index: -1;
        
    }

    #gallery-container img {
        border: 1px solid white;
    }

    .gallery-image {
        display: inline-block;
        width: 400px;
        height: 360px;
        border-radius: 5px;
    }




    main{
        background-size: cover;
        background-image: url('../img/fundo.png');
        z-index: 0;
        font-weight: 100%;
        width: 100%;
    }

    .card{
        z-index: 0;
        position: relative;
        width: 320px;
        height: 320px;
        margin: 20px;
        transform-style: preserve-3d;
        perspective: 1000px;;
    }

    #wppIcon {
        position: absolute;
        right: 0;
        margin-right: 20px;
        margin-top: -20px;
    }

     .card .box
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: 1s ease;
    }
    
     .card:hover .box{
        transform: rotateY(180deg);
    }
    
    .card .box .imgBx{
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
     .card .box .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: -20px;
    }
    .card .box .contentBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        backface-visibility:hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-style: preserve-3d;
        transform: rotateY(180deg);
    }
    
    .card .box .contentBx div{
        transform-style: preserve-3d;
        padding: 20px;
        transform: translateZ(100px);
    }
   

    #preco{
        width: 300px;
        height: 300px;
    }

    .contentBx button{
        margin-top: 0px;
        width: 100%;
        height: 40px;
        margin-bottom: 53px;
        border-radius: 8px;
        background-color: #135cbb;
        color: white;
        cursor: pointer;
    }

    .contentBx:hover button{
        width: 100%;
    }

    /* Footer */
#footer {
    background: #222;
    color: #eee;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.logos{
    width: 20%;
    display: flex;
    justify-content: space-around;
}
.logos img{
    color: black;
    align-items: center;
}
    
 .caixa-central{
    height: 30em;
    width: 100%;
    background-color:rgb(239, 235, 226);
    display: flex;
    flex-direction: row;


}
.caixa1{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa1 button {
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    margin-top: 60px;
    padding: 17px;
    border-radius: 10px;
    border: 1px solid #2cb83c;
    background-color: #47d757 ;
    color: #fff;
    font-weight: bold;
}

.caixa1 button img {
    width: 25px;
}

.caixa-texto1{
    margin-top: 30px;
}

 .caixa1 h1{
    font-size: 50px;
    font-family: 'Inter', 'sans';
    font-weight: 200;
    margin-left: 30px;
    
}

.caixa1 h2{
    font-size: 47px;
    text-align: justify;
    text-decoration: double ;
    justify-content: center;
    font-family: 'inter' 'sans-serif';
    font-weight: 200;
    margin-left: 30px;
}   



#servicos{
    background-color: rgb(239, 235, 226);
}

/* INICIO DO CARROSSEL */

.caixa2 {
    height: 100%;
    width: 50%;
    overflow: hidden;
    
}


@media (max-width: 1090px)
{
    

    .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}


  .caixa2
   {
    display: none;
    text-align: center;
    align-items: center;
   }
}
/* BOTÃO DO TRABALHE CONOSCO */

.btn:link,
.btn:visited {
    margin-left: 50px;
    margin-top: 50px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 11px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {    
    background-color: #00e676;
    color: white;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #00a884;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 10s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* BOTÃO DO TRABALHE CONOSCO */


#img-carro{
    height: 100%;
    width: 100%;
    background-size: cover;
}

.item p {
    margin-left: 10px;
}

